<!DOCTYPE html>

{% load staticfiles %}

<html>

	<head lang="es">

			<!-- Declaramos a Django donde esta la hoja de estilo -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/mycss.css' %}">
		{% block extra_css %}
		{% endblock extra_css %}

		{% block title_block %}
			<title>Base</title>
		{% endblock %}

		<meta charset="UTF-8">
		<title>TITULO DE LA BASE</title>
	</head>

	<body>

			<div class="menu">
    			<div class ="nombre">
      				<a href="/"><h1>PERFUMES</h1></a>
    			</div>
						{% block header_block %}
          		<div class="login">
            		<a href="">Login</a>
          		</div>
          		<div class="registro">
            		<a href="">Registro</a>
            	</div>
						{% endblock %}

      		</div>


			<div class="menu2">
				{% block shoppingcart_block %}
				<div>
					<a>Carrito de la compra</a>
				{% endblock %}
				</div>
			</div>

		<div class="estructura">
		{% block main_block %}
		{% endblock %}
		</div>
		<!-- Definimos el footer de las paginas de la aplicacion -->

	</body>
</html>
