{% extends 'shop/base.html' %}

{% load staticfiles %}

{% block main_block %}

  <div class="col-2 lateral">
    <ul>
    {% for c in categories %}
  <li><a href = "{% url 'product_list_by_category' c.catSlug %}">
      {{ c.catName }}
  </a></li>
    {% endfor %}
  </ul>
  </div>


  <div class= "contenido">
      {% if category == None%}
    <ul>
      {% for p in products %}
        <li>
          <div class="aux">
              <ul>

                  <li><a href="{% url 'product_detail' p.id p.prodSlug %}"><img class="{{p.prodName}}" src="{{p.image}}" ></a></li>
                  <li>{{ p.prodName }}</li>

              </ul>
          </div>
          {% endfor %}

          {% else %}
          <ul>
            {% for p in products %}
              <li>
                <div class="aux">
                    <ul>


                        <li><a href="{% url 'product_detail' p.id p.prodSlug %}"><img class="{{p.prodName}}" src="../../{{p.image}}" ></a></li>
                        <li>{{ p.prodName }}</li>
                    
                    </ul>
                </div>
                {% endfor %}
                {% endif %}
  </div>

{% endblock %}

<!-- {% url 'product_detail' p.prodId p.prodSlug %} {% url 'product_list' c.catSlug %}-->
