{% extends 'shop/base.html' %}

{% load staticfiles %}

{% block main_block %}

  <div class= "contenido">

    <h2>{{ product.category.catSlug }}</h2>

    <img src="../../{{product.image}}" class="{{p.prodName }}">
    <p>{{ product.prodName }}</p>
    <p>{{ product.price }}</p>
    <p>{{ product.description}}</p>
    <p>{{ product.prodSlug}}

  </div>

{% endblock %}
